.FiveDayContainer {
/*
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    */
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
    text-transform: capitalize;
    background-color: rgba(33, 47, 59, 0.5);
}

.row {
  align-items: center;
  /* border-bottom: 1px solid lightgray; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 2rem;
  position: relative;
}

.row::after{
  content: "";
  background: lightgray;
  opacity: 50%;
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 1px;
}

.row:last-child::after {
  display: none;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.minTemp {
    color: blue;
    font-size: 1.4rem;
}

.maxTemp {
    color: red;
}

.dayWeatherIcon{
  width: 50px;
}
