
.daysContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1rem;
}

.dayContainer {
  border-radius: 10px;
  margin: .2rem .10rem;
  text-transform: capitalize;
  color: white;
}

.dayWeatherIcon{
  width: 60px;
}