.label {
  display: inline-block;
}
.locationInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form {
  padding-top: 40px;
}

.input {
  padding: 0.4em;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border-radius: 0.12em;
  border: 0.1em solid #000000;
  width: 20vw;
  min-width: 263px;
}

.btn {
  padding: 0.4em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0 0.2em;
  border-radius: 0.12em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  position: relative;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}

.buttonSubmit {
  color: #000000;
}

.button {
  height: 32px;
  align-self: flex-end;
  color: red;
}

.buttonSubmit:hover {
  animation: bounce 2s infinite;
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: rgb(255, 0, 191);
  background-color: rgb(0, 207, 69);
}

.button:hover {
  animation: bounce 2s infinite;
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: rgb(255, 0, 191);
  background-color: rgb(66, 214, 116);
}

@keyframes bounce {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@media all and (max-width: 30em) {
   button {
    display: block;
    margin: 0.4em auto;
  }
}
