.App {
  text-align: center;
  background: url("./background.jpg") no-repeat center center fixed;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  grid-auto-rows: auto;
}

.forecast {
  grid-column-start: 1;
  grid-column-end: span;
}

.componentContainer {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(33, 47, 59, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 100%;
}